In [ ]:
#Q1. What are the characteristics of the tuples? Is tuple immutable?

Tuples in python is much like lists but are unchangeable. They are formed within panthasis () 
1. We can access a specific element in tuple by indexing but can not add elements after the tuple is created 
2. Once the tuple is created , elements can not be remove from it.
Yes tuple is immutable.

In [49]:
#Q2.What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods 
#as compared to Lists.

The two tuple methods in python are :
1. count 
2. index

In [8]:
t=(1,2,3,6,4,6,2,6,2,7,8,2) #counts the number of times 2 occured in tuple t.
t.count(2)

4

In [11]:
t.index(6) #gives the index value at which element 6 is present

3

In [12]:
t.index(6,4)# gives the index value at which 6 occures after 4th index

5

In [50]:
#Q3.Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
#List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Set in python do not allow duplicate items.

In [15]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [16]:
Set=set(List)

In [17]:
Set

{1, 2, 3, 4}

In [51]:
#Q4.Explain the difference between the union() and update() methods for a set. Give an example of each method.

In [23]:
s=Set

In [22]:
s

{1, 2, 3, 4}

In [34]:
t={3,6,7,8,9}

In [35]:
t

{3, 6, 7, 8, 9}

In [45]:
s.union(t)

{1, 2, 3, 4, 6, 7, 8, 9}

In [46]:
s

{1, 2, 3, 4, 6, 7, 8, 9}

In [47]:
s.update(t)

In [48]:
s

{1, 2, 3, 4, 6, 7, 8, 9}

union() dose not modify the orginal sets and returns a new sewt where as update() modifies the orginal sets and returns None.

In [52]:
#Q5.What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionaries in Python is a data structure, used to store values in key:value format. It is an unordered collection of data.

In [53]:
d={"k1":1,"k2":2}

In [54]:
type(d)

dict

In [55]:
#Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested-dictionary.

yes we can create a nested dictionary. For example:

In [56]:
people={1:{"name":"Karna","Age":34,"Email":"Karna@gmail.com"},2:{"name":"Uriuvi","Age":20,"Email":"Urivi@gmail.com"}}

In [57]:
#Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
#the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
#dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [58]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [62]:
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [63]:
#Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects 
#for the given dictionary.
#dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [64]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [68]:
print("Dictionary keys:" ,dict1.keys())

Dictionary keys: dict_keys(['Sport', 'Teams'])

In [69]:
print("Dictionary values:",dict1.values())

Dictionary values: dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [ ]:
print( "Dictionary items":